<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
		<div id="purecloud-callback"></div>
    </body>
	<!-- <script src="http://localhost:3004/coddera_widget.js"></script> -->
	<script src="http://ec2-18-228-171-32.sa-east-1.compute.amazonaws.com:3004/coddera_widget.js"></script>
</html>